CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

doc
build

NwJsApp/versions

# there must be no '.git' folder inside 'actual/' folder
NwJsApp/actual/*
!NwJsApp/actual/package.nw
NwJsApp/actual/package.nw/*
!NwJsApp/actual/package.nw/package.json
!NwJsApp/actual/package.nw/index.js
