<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Serial Port Communicator</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
    <link href="/html/style.css" rel="stylesheet">
    <link href="/html/bootstrap-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/html/bootstrap-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/html/vue-js/vue.global.js"></script>
    <link src="href=https://vuejsprojects.com/portal-vue" rel="javascript">
  </head>

  <body>
    <div class="container py-5">
      <div id="config-vue-container">

        <div class="configuration-content">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="h4">Serial Port Communicator</h4>
            </div>
            <div class="col-sm-6">
              <div class="d-flex justify-content-center" v-if="load_not_over">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <div class="btn-group">
                <button type="button" class="btn btn-primary my-class" :disabled="port_params_enabled || portIsOpened">{{ config_name }}</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"
                  :disabled="port_params_enabled || portIsOpened">
                  <span class="visually-hidden">{{ config_name }}</span>
                </button>
                <ul class="dropdown-menu">
                  <li><h6 class="dropdown-header">Select configuration</h6></li>
                  <li v-for="conf in configurations" v-on:click="onConfigChange($event)">
                    <a class="dropdown-item" href="#">{{ conf }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="btn-group">
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
                  v-on:click="addConfiguration" :disabled="port_params_enabled || portIsOpened">Add config</button>
                <button type="button" class="btn btn-primary"
                  v-on:click="deleteConfiguration" :disabled="port_params_enabled || portIsOpened">Delete config</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target=".multi-collapse"
                  v-on:click="enableConfigEdit" :disabled="port_params_enabled || portIsOpened">Edit config</button>
              </div>
            </div>

          </div>

          <div class="row py-2">
            <div class="collapse multi-collapse">
              <div class="col-sm-2">
                <h6>Name:</h6>
              </div>
              <div class="col-sm-6">
                <div class="btn-group">
                  <input type="text" class="form-control" v-model="config_new_name" ref="new_config" id="config_new_name" />
                  <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target=".multi-collapse" v-on:click="saveConfigEdit" :disabled="!port_params_enabled || portIsOpened">Save</button>
                  <button type="button" class="btn btn-success" data-bs-toggle="collapse" data-bs-target=".multi-collapse" v-on:click="cancelConfigEdit" :disabled="!port_params_enabled || portIsOpened">Cancel</button>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <config-parameter v-for="port_param in port_params" v-bind:name="port_param.name" v-bind:id="'param-' + port_param.name"
              v-bind:label="port_param.label" v-bind:values="port_param.values">
            </config-parameter>
          </div>
        </div> <!-- configuration-content -->

        <div class="row py-5">
          <div class="col-sm-2">
            <h6>Available Ports:</h6>
          </div>
          <div class="col-sm-2">
            <select class="form-select" id="select_ports" :disabled="portIsOpened || port_params_enabled" aria-label="Default select example">
              <option v-for="port in ports" :value="port">{{ port }}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <div class="btn-group">
              <button type="button" class="btn btn-success" v-on:click="scanPorts" :disabled="portIsOpened || port_params_enabled">Rescan Ports</button>
              <button type="button" class="btn btn-primary" v-on:click="openPort" :disabled="portIsOpened || port_params_enabled">Port Open</button>
              <button type="button" class="btn btn-primary" v-on:click="closePort" :disabled="portIsClosed || port_params_enabled">Port Close</button>
            </div>
          </div>
        </div>

        <div class="row py-5">
          <config-command v-for="command in commands" v-bind:cmd="command.cmd" v-bind:name="command.name"></config-command>
        </div>
        </div class="row py-2">
          <p id="received_data"></p>
        </div>

      </div> <!-- config-vue-container -->
    </div> <!-- container -->

    <script>

      var ErrorCodeOk = '{{ inja_error_code_ok }}';
      var ErrorCodeError = '{{ inja_error_code_error }}';

      function setCookie(name, value, days)
      {
        let expires = "";
        if (days) {
          let date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
      }

      function getCookie(name)
      {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
      }

      let recvTimerId;
      function enableReceiveTimer(enable = false) {
        if (enable)
        {
          recvTimerId = setInterval(() => {
            fetch('/portapi/readfromport', {
              method: 'POST',
              body: 'port=' + document.getElementById('select_ports').value
            })
            .then((response) => { return response.json() })
            .then((data) => {
              if (data.result == ErrorCodeOk) {
                document.getElementById('received_data').innerHTML += data.received;
                console.log('Readed from port: ' + data.received);
              }
            })
            .catch((error) => console.log(error));
          }, 1000)
        }
        else
        {
          clearInterval(recvTimerId);
        }
      }

      const app = Vue.createApp({
        data: function() {
          return {
            load_not_over: true,
            config_name: '',
            configurations: ['test'],
            new_config_flag: false,
            config_new_name: '',
            port_params_enabled: false,
            port_params: [
              {
                "label": "Speed",
                "name": "speed",
                "values": ["9600","19200","115200"]
              }
            ],
            selected_params: [
              {
                "name": "speed",
                "value": "19200"
              }
            ],
            port_is_opened: false,
            ports : '',
            commands: []
          }
        },
        computed: {
          new_config_process: function() {
            if(this.new_config_flag)
            {
              if(this.port_params_enabled)
                return true;
              else
                this.new_config_flag = false;
            }
            return false;
          },
          portIsOpened: function() {
            return this.port_is_opened;
          },
          portIsClosed: function() {
            return !this.port_is_opened;
          }
        },
        methods: {
          onConfigChange: function(event) {
            //console.log(event.target.innerText);
            this.config_name = event.target.innerText;
            setCookie('active', event.target.innerText, 1);
            location.reload();
          },
          addConfiguration: function() {
            this.new_config_flag = true;
            this.enableConfigEdit();
            setTimeout(() => {
              this.$refs.new_config.focus();
              this.$refs.new_config.select();
              console.log("New configuration process");
            }, "50");
          },
          deleteConfiguration: function() {
            if (confirm('Are you sure you want to remove this configuration?'))
            {
              console.log('Thing was saved to the database.');
              fetch('/deleteconfig?config=' + this.config_name)
              .then((response) => { return response.json() })
              .then((data) => {
                console.log(data);
                location.reload();
              })
              .catch((error) => console.log(error));
            }
          },
          onSelectedChange: function(name, value) {
            this.selected_params.forEach((sel_param) => {
              if(sel_param.name == name)
                sel_param.value = value;
            });
            //console.log(JSON.stringify(this.selected_params));
          },
          enableConfigEdit: function () {
            this.port_params_enabled = true;
            this.config_new_name = this.config_name;
          },
          saveConfigEdit: function () {
            let body = getConfigPostParams();
            if(this.new_config_process)
            {
              let new_name = document.getElementById('config_new_name').value;
              body += '&config_name=' + new_name;
              fetch('/addnewconfig', {
                method: 'POST',
                body: body
              })
              .then((response) => { return response.json() })
              .then((data) => {
                if(data.result == ErrorCodeOk)
                {
                  setCookie('active', new_name, 1);
                  location.reload();
                }
              })
              .catch((error) => console.log(error));
            }
            else
            {
              //let config_name = document.getElementById('select_config').value;
              body += '&config_name=' + this.config_name;
              let new_name = document.getElementById('config_new_name').value;
              if(this.config_name != new_name)
              {
                body += '&config_new_name=' + new_name;
              }
              fetch('/saveconfigparams', {
                method: 'POST',
                body: body
              })
              .then((response) => { return response.json() })
              .then((data) => {
                if(this.config_name != new_name)
                {
                  setCookie('active', new_name, 1);
                  location.reload();
                }
              })
              .catch((error) => console.log(error));
            }
  
            this.port_params_enabled = false;
          },
          cancelConfigEdit: function () {
            this.port_params_enabled = false;
          },
          scanPorts: function () {
            fetch('/portapi/getportslist').then((response) => { return response.json() })
            .then((data) => this.ports = data.ports)
            .catch((error) => console.log(error));
          },
          openPort: function () {
            fetch('/portapi/openport', {
              method: 'POST',
              body: 'port=' + document.getElementById("select_ports").value + '&' + getConfigPostParams()
            })
            .then((response) => { return response.json() })
            .then((data) => {
              console.log(data);
              if (data.result == ErrorCodeOk) {
                enableReceiveTimer(true);
                this.port_is_opened = true;
              }
            })
            .catch((error) => console.log(error));
          },
          closePort: function () {
            fetch('/portapi/closeport', {
              method: 'POST',
              body: 'port=' + document.getElementById("select_ports").value
            })
            .then((response) => { return response.json() })
            .then((data) => {
              enableReceiveTimer(false);
              this.port_is_opened = false;
            })
            .catch((error) => console.log(error));
          },
          sendCommand: function (command) {
            fetch('/portapi/sendtoport', {
              method: 'POST',
              body: 'port=' + document.getElementById('select_ports').value + '&cmd=' + command
            })
            .then((response) => { return response.json() })
            .then((data) => {
              if (data.result == ErrorCodeError)
              {
                enableReceiveTimer(false);
              }
              console.log('Sended to port: ' + command);
            })
            .catch((error) => console.log(error));
          }
        },
        beforeMount() {
          fetch('/getconfiglist').then((response) => { return response.json() })
          .then((data) => this.configurations = data["configurations"])
          .catch((error) => console.log(error));

          this.config_name = getCookie('active');

          this.scanPorts();

          fetch('/getallparams').then((response) => { return response.json() })
          .then((data) => this.port_params = data)
          .catch((error) => console.log(error));

          fetch('/getconfigparams?config=' + this.config_name)
          .then((response) => { return response.json() })
          .then((data) => this.selected_params = data)
          .catch((error) => console.log(error));

          fetch('/getconfigcommands?config=' + this.config_name)
          .then((response) => { return response.json() })
          .then((data) => {
            this.commands = data["commands_array"];
            this.load_not_over = false;
          })
          .catch((error) => console.log(error));
        }
      });

      app.component('config-parameter', {
        props: ['name', 'label', 'values','id'],
        computed: {
          disabled: function() {
            return !this.$parent.port_params_enabled;
          },
          selected: function() {
            selectedVal = '';
            this.$parent.selected_params.forEach((sel_param) => {
              if(sel_param.name == this.name)
              {
                selectedVal = sel_param.value;
                //console.log('Selected: ' + sel_param.name + ' = ' + sel_param.value);
              }
            });
            return selectedVal
          }
        },
        methods:{
          onChange:function(event){
            this.$parent.onSelectedChange(this.name, event.target.value);
          }
        },
        template: '<div class="col-sm-2"> \
                    <label :for="id">{{ label }}</label> \
                    <select class="form-select" :id="id" :disabled="disabled" v-on:change="onChange($event)"> \
                      <option v-for="value in values" :value="value" :selected="value == selected">{{ value }}</option> \
                    </select> \
                  </div>'
      })

      app.component('config-command', {
        props: ['cmd', 'name'],
        computed: {
          disabled: function() {
            return !this.$parent.port_is_opened;
          }
        },
        methods: {
          sendEvent: function() {
            this.$parent.sendCommand(this.cmd);
          }
        },
        template: '<div class="row">  \
                    <div class="col-sm-2">  \
                      <button type="button" class="btn btn-success"	v-on:click="sendEvent" :disabled="disabled">{{ name }}</button>  \
                    </div>  \
                    <div class="col-sm-2">  \
                    <p>{{ cmd }}</p></div>  \
                  </div>'
      })

      const vue_container = app.mount("#config-vue-container");

      function getConfigPostParams()
      {
        paramStr = '';
        for(sel_param of vue_container.$data.selected_params)
        {
          paramStr += sel_param.name + '=' + sel_param.value;
          if(sel_param != vue_container.$data.selected_params[vue_container.$data.selected_params.length - 1])
            paramStr += '&';
        };
        console.log('paramStr: ' + paramStr);
        return paramStr;
      }

      document.addEventListener('DOMContentLoaded', function() {

//~ CONFIGURATION

        //document.getElementById('select_config').addEventListener('change', (event) => {
          //setCookie('active', document.getElementById('select_config').value, 1);
          //location.reload();
        //});

//~ CONFIGURATION

//~ COMMANDS

//~ COMMANDS

      });

    </script>
  </body>
</html>
